/*
OYEZ OYEZ BRAVES GENS !
Quelques recommandations si vous ne voulez pas finir tout nu sur la place publique :

pour les titres principaux de la page : utiliser h2 et ajouter la class "titre_principal"
pour les titres secondaires de la page : utiliser h3 et ajouter la class "titre_secondaire"
pour le texte gris ajouter la class "texte_fonce"
pour le texte blanc ajouter la class "texte_clair"
pour le texte jaune ajouter la class "texte-jaune"

pour les boutons jaunes utiliser <p class="bouton-jaune">texte<a href=""></a></p>

pas de float ou de inline-bloc !
les marges et les paddings des blocs principaux doivent être de 50px (vertical ET horizontal)
les images doivent faire moins de 500Ko

A BON ENTENDEUR, SALUT !
*/


/* ******************************************************************** */
/* ACTUALITES */
/* ******************************************************************** */
p {
	line-height: 20px;
}

.flex_contain{
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
	margin-top: 30px;
}

.flex_actu {width: 45%;}
.resume{margin-top: 40px;}


/* ******************************************************************** */
/* GALERIE */
/* ******************************************************************** */

.recherche{
	margin-top: 20px;
	background-color: #fdf4ed;
}

.champ{
	border-style: none;
	width: 97.5%;
}


.flex_item{
	width: 45%;
}

.titre_vid{
	padding-top: 20px;
	font-weight: 900;
	font-size: 1.2em;
}

.flex_item h3,
.flex_item p {
	margin-top: 10px;
}

/* ******************************************************************** */
/* CONTACT */
/* ******************************************************************** */



.flex_don{
	background-color: rgb(245, 202, 95);
	padding: 20px;
    max-height: 300px;
}

.flex_texte {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    margin-top: 20px;
}

.flex_texte p {
    width: 100px;
	padding: 0.5em;
	font-size: 1.75em;
	font-weight: 900;
	background-color: rgb(227, 164,0);
	cursor: pointer;
}

.flex_texte p:last-of-type { width: 216px;}



/*hover*/
.flex_texte p:hover{
	color: rgb(227, 164,0);
	background-color: #fdf4ed;
}

.bouton-jaune-upp:hover,
.bouton-jaune:hover,
.bouton-jaune-smart,
.controlplay {
	color: rgb(245, 202, 95);
	background-color: #fdf4ed;
}


/*PARTENAIRES*/
.part{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
}

.flex_part{
	margin-top: 20px;
	display: flex;
	width: 50%;
}

.div_part{
	flex-direction: row;
	position: relative;
}

.part_texte{
	margin-left: 15px;
}



.lien{
	font-size: 0.7em;
}
