/*-----------------------------------------------------------------------------------
1.Utilitaires

2.Générales

3.Typographie

4.Structure de base
  4.1.Navigation
  4.2.Flexbox

5.Styles et couleurs

6.Media Queries
  5.1.Tablette (paysage)
  5.2.Tablette (portrait)
-----------------------------------------------------------------------------------*/
   

/* ******************************************************************** */
/* UTILITAIRES */
/* ******************************************************************** */
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i';

@import 'https://fonts.googleapis.com/css?family=Pacifico';



/* ******************************************************************** */
/* GENERALES */
/* ******************************************************************** */
*, *:after, *:before { box-sizing: border-box; }

body {
    font-family: 'Source Sans Pro';
    font-size: 1em;
    background-color: #fdf4ed;
}

.wrapper,
.wrapper-bleu {
    width: 930px;
    margin: 0 auto;
}

.wrapper-bleu { padding: 50px;  background-color: #dcdfec;}

header, footer { background-color: #6885c8; }



/*.dropdown_content {
    display: none;
    position: absolute;
    top: 207px;
    left: 550px;
    padding: 10px;
    background-color: #6885c8;
    z-index: 1;
}*/


/*.navigation_dropdown:hover .dropdown_content {
    display: block;
}*/


/* ******************************************************************** */
/* TYPOS */
/* ******************************************************************** */

.texte_clair, .texte_clair a { color: #fdf4ed; }
.texte_fonce, .texte_fonce a { color: #545350; }
.texte_jaune, .texte_jaune a { color: #e3a400; }


.titre_principal,
.titre_secondaire,
.bouton,
.main_categories_don,
.header_photo_titre { font-family: 'Pacifico'; }

.titre_principal { font-size: 3em; }
.titre_secondaire { font-size: 1.5em; }

a { text-decoration: none; }

.bouton {
    font-size: 1.5em;
    margin-top: 0.5em;
}

.bouton-jaune {
    font-size: 1.5em;
    height: ;
    line-height: ;
    text-align: center;
    background-color: #f5ca5f;
}

.navigation li a {
    padding-right: 20px;
    border-right: 1px solid #fdf4ed;
}

.navigation li,
.main_categories_titre {
    font-size: 1.5rem;
    font-weight: 300;
}

.main_categories_icon { 
    font-size: 4em; 
    margin-bottom: 0.5em;
}

.main_categories_don h3 {
    font-size: 3em;
}

.footer_icons { margin-bottom: 20px; }
.footer_icons ul {
    width: 150px;
    margin: 0 auto;
    font-size: 3em;
}

.footer_mentions { text-align: center; }

.header_photo_titre {
    font-size: 6em;
    color: #6384c7;
    background-color: rgba(253,244,237, 0.8);
    height: 150px;
    line-height: 150px;
    margin-left: 300px;
    padding-left: 50px;
    position: relative;
    top: 70px;
}

.header_photo_stitre {
    font-size: 1.5em;
    letter-spacing: 0.25em;
    color: #e97763;
    background-color: rgba(253,244,237, 0.8);
    height: 50px;
    line-height: 50px;
    position: relative;
    top: 90px;
    padding-left: 20px;
    margin-left: 100px;
}

/* ******************************************************************** */
/* PAGE D'ACCUEIL */
/* ******************************************************************** */

.navigation,
.header,
.main_categories,
.footer_icons ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

nav { 
    flex-grow: 2;
    align-self: flex-end;
    margin-bottom: 20px;
}

header img {
    width: 300px;
}

.main_categories_presentation,
.main_categories_objectifs,
.main_categories_actualites,
.main_categories_don {
/*
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
*/
    text-align: center;
    box-shadow: 0px 3px 10px 0px #545350;
}
    
.main_categories_presentation,
.main_categories_objectifs,
.main_categories_actualites {
    height: 300px;
    width: 275px;
    margin-top: 50px;
    padding: 40px 20px 20px 20px;
}

.main_categories_presentation,
.main_categories_don { background-color: #6885c8; }
.main_categories_objectifs { background-color: #e97763; }
.main_categories_actualites { background-color: #f5ca5f; }

.main_categories_don {
    height: 100px;
    width: 100%; 
    margin: 50px 0 50px 0;
    padding: 20px;
}

footer {
    padding-top: 50px;
    height: 300px;
}

.header_photo {
    height: 50vh;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}







/* ******************************************************************** */
/* MEDIA QUERIES */
/* ******************************************************************** */



@media screen and (max-width: 930px){
    .wrapper {
        width: 600px;
    }
    
    .main_categories {
        flex-flow: column wrap;
    }
    
    .main_categories_presentation,
    .main_categories_objectifs,
    .main_categories_actualites,
    .main_categories_don {
        width: 100%;
    }
    
    .header_photo_titre {
        margin-left: 0px;
    }
    
    .header img {
        margin: 0 auto;
    }
}


@media screen and (max-width: 600px){
    .wrapper {
        width: 100%;
    }
    
    
    
    .main_categories_presentation,
    .main_categories_objectifs,
    .main_categories_actualites,
    .main_categories_don {
        box-shadow: none;
    }

    .main_categories_presentation,
    .main_categories_objectifs,
    .main_categories_actualites {
        margin-top: 0px;
        padding: 40px 20px 20px 20px;
    }
}




/* ******************************************************************** */
/* DROPDOWN */
/* ******************************************************************** */



/* ********** Niveau 1 ********** */


ul.navigation ul li:hover a{
    color: #545350;
}

ul.navigation li:last-child a {
    border-right: none;
}

ul.navigation li.hover,
ul.navigation li:hover {
    position: relative;
}

.navigation_submenu {
    z-index: 10;
}


/* ********** Niveau 2 ********** */

ul.navigation ul {
    width: 250px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
}

ul.navigation ul li {
    background: #6885C8;
    padding: 10px;
}

ul.navigation ul li:hover {
    background: #acd0eb;
}

ul.navigation ul li a {
    border-right: none;
    width: 100%;
}


/* ********** Niveau 3 ********** */

ul.navigation ul ul {
    left: 100%;
    top: 0;
}

ul.navigation li:hover > ul {
    visibility: visible;
}























