/*-----------------------------------------------------------------------------------

1.Utilitaires
2.Générales
3.Typographie
4.Navigation
5.Page d'accueil
6.

-----------------------------------------------------------------------------------*/


/* ******************************************************************** */
/* UTILITAIRES */
/* ******************************************************************** */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/* ******************************************************************** */
/* GENERALES */
/* ******************************************************************** */

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro';
    font-size: 1em;
    background-color: #fdf4ed;
    width: 100vw;
    overflow-x: hidden;
}

.wrapper,
.wrapper-bleu {
    width: 930px;
    margin: 0 auto;
}

.wrapper-bleu {
    padding: 50px;
    background-color: #dcdfec;
}

header,
footer {
    background-color: #6885c8;
}

footer {
    padding-top: 50px;
    height: 300px;
}

/* ******************************************************************** */
/* TYPOS */
/* ******************************************************************** */
p {line-height: 20px;}
em {font-family: 'Source Sans Pro';}
.wrapper-bleu p{margin-top: 10px;}

.texte_clair,
.texte_clair a {
    color: #fdf4ed;
}

.texte_fonce,
.texte_fonce a {
    color: #545350;
}

.texte_jaune,
.texte_jaune a {
    color: #e3a400;
}

.titre_principal,
.titre_secondaire,
.bouton,
.main_categories_don,
.header_photo_titre {
    font-family: 'Pacifico';
}

.titre_principal {font-size: 3em; margin-bottom: 30px;}
.titre_secondaire, .titre-secondaire {font-size: 1.5em;}
a {text-decoration: none;}

.titre-secondaire{
  font-weight: bold;
  color: #545350;
}

.bouton {
    font-size: 1.5em;
    margin-top: 0.5em;
}

.bouton-jaune,
.bouton-jaune-smart,
.bouton-jaune-upp,
.controlplay {
    cursor: pointer;
    background: #F5CA5F;
    text-align: center;
    margin-top: 0.5em;
}

.bouton-jaune,
.bouton-jaune-smart,
.controlplay {
    height: 30px;
    line-height: 30px;
    width: 100px;
    color: #fdf4ed;
}

.bouton-jaune-upp {
    text-transform: uppercase;
    width: 200px;
    height: 1.75em;
    line-height: 1.75em;
    color: #fdf4ed;
    font-size: 1.75em;
    font-weight: 900;
}

.flex_texte p:hover{
	color: rgb(227, 164,0);
	background-color: #fdf4ed;
}

.bouton-jaune-upp:hover,
.bouton-jaune:hover,
.bouton-jaune-smart:hover,
.controlplay:hover {
	color: rgb(245, 202, 95);
	background-color: #fdf4ed;
}
.navigation li a {
    padding-right: 20px;
    border-right: 1px solid #fdf4ed;
}

.navigation li,
.main_categories_titre {
    font-size: 1.5rem;
    font-weight: 300;
}

.main_categories_icon {
    font-size: 4em;
    margin-bottom: 0.5em;
}

.main_categories_don h3 {font-size: 3em;}

.footer_icons {margin-bottom: 20px;}

.footer_icons ul {
    width: 150px;
    margin: 0 auto;
    font-size: 3em;
}

.footer_mentions {text-align: center;}

.header_photo_titre {
    font-size: 6em;
    color: #6384c7;
    background-color: rgba(253, 244, 237, 0.8);
    height: 150px;
    line-height: 150px;
    margin-left: 300px;
    padding-left: 50px;
    position: relative;
    top: 70px;
}

.header_photo_stitre {
    font-size: 1.5em;
    letter-spacing: 0.25em;
    color: #e97763;
    background-color: rgba(253, 244, 237, 0.8);
    height: 50px;
    line-height: 50px;
    position: relative;
    top: 90px;
    padding-left: 20px;
    margin-left: 100px;
}

.chapeau {
    font-size: 1.2em;
    font-weight: 300;
}

/* ***** effets ***** */
.flex_texte p:hover{
	color: rgb(227, 164,0);
	background-color: #fdf4ed;
}

.bouton-jaune-upp:hover,
.bouton-jaune:hover,
.bouton-jaune-smart:hover,
.controlplay:hover {
	color: rgb(245, 202, 95);
	background-color: #fdf4ed;
}


/* ******************************************************************** */
/* NAVIGATION */
/* ******************************************************************** */
#open,
#close {
    z-index: 11;
}

nav {
    flex-grow: 2;
    align-self: flex-end;
    margin-bottom: 20px;
}


/* ***** Niveau 1 ***** */
ul.navigation ul li:hover a {color: #545350;}
ul.navigation li:last-child a {border-right: none;}

ul.navigation li.hover,
ul.navigation li:hover {
    position: relative;
}

.navigation_submenu {z-index: 10;}


/* ***** Niveau 2 ***** */
ul.navigation ul {
    width: 250px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
}

ul.navigation ul li {
    background: #6885C8;
    padding: 10px;
}

ul.navigation ul li:hover {
    background: #acd0eb;
}

ul.navigation ul li a {
    border-right: none;
    width: 100%;
}


/* ***** Niveau 3 ***** */
ul.navigation ul ul {
    left: 100%;
    top: 0;
}

ul.navigation li:hover > ul {visibility: visible;}



/* ******************************************************************** */
/* PAGE D'ACCUEIL */
/* ******************************************************************** */

.navigation,
.header,
.main_categories,
.footer_icons ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.main_categories_presentation,
.main_categories_objectifs,
.main_categories_actualites,
.main_categories_don {
    text-align: center;
    box-shadow: 0px 3px 10px 0px #545350;
}

.main_categories_presentation,
.main_categories_objectifs,
.main_categories_actualites {
    height: 300px;
    width: 275px;
    margin-top: 50px;
    padding: 40px 20px 20px 20px;
}

.main_categories_presentation,
.main_categories_don {
    background-color: #6885c8;
}

.main_categories_objectifs {
    background-color: #e97763;
}

.main_categories_actualites {
    background-color: #f5ca5f;
}

.main_categories_don {
    height: 100px;
    width: 100%;
    margin: 50px 0 50px 0;
    padding: 20px;
}

.header_photo {
    height: 50vh;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header img {width: 300px;}


/* ******************************************************************** */
/* PRESENTATION */
/* ******************************************************************** */
.cadre_jaune{
  background-color: #f3c062;
  width: 45%;
  padding: 20px;
}

.cadre_jaune span{
  text-transform: uppercase;
  font-weight: bold;
}

.presentation_bas{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.presentation_droite {width: 50%;}
.membres {margin-top: 15px;}

.image_presentation{
  background-image: url(../images/presentation_equipe.jpg);
  height: 350px;
}

.block-visible-smart {display: none;}



/* ******************************************************************** */
/* OBJECTIFS */
/* ******************************************************************** */
.cadre_jaune_objectif {margin-top: 30px;}

.objectif_image_haut,
.objectif_image_bas,
.image_presentation {
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.objectif_image_haut,
.objectif_image_bas {
  height: 210px;
}

.objectif_image_haut {background-image: url(../images/objectif_1.jpg);}
.objectif_image_bas {background-image: url(../images/objectif_2.jpg);}


/* ******************************************************************** */
/* ACTUALITES */
/* ******************************************************************** */
.flex_contain{
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
	margin-top: 30px;
}

.flex_actu {width: 45%;}
.resume {margin-top: 40px;}


/* ******************************************************************** */
/* ARCHIVES */
/* ******************************************************************** */
#barre_recherche {
    background-color: #fdf4ed;
    font-family: 'Source Sans Pro';
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

#champs{
  border: none;
  width: 97%;
  height: 25px
}

#filters{
  display: flex;;
}

#filters li, #filters em{
  flex-direction: row;
  margin: 10px 10px 0 0;
}

#filter em{
  font-weight: bold;
}

.block {
  margin: auto;
  margin-top: 35px;
}

.block-hidden {display: none;}

.archives_date{
  color: #c7b1b1;
  font-size: 16px;
}


/* ******************************************************************** */
/* GALERIE */
/* ******************************************************************** */
.flex_item {width: 45%;}

.titre_vid{
	padding-top: 20px;
	font-weight: 900;
	font-size: 1.2em;
}

.flex_item h3,
.flex_item p {
	margin-top: 10px;
}

/* ******************************************************************** */
/* CONTACT */
/* ******************************************************************** */

/* ***** structure ***** */
.flex_don{
	background-color: rgb(245, 202, 95);
	padding: 20px;
    max-height: 300px;
}

.flex_texte {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    margin-top: 20px;
}

.flex_texte p {
    width: 100px;
	padding: 0.5em;
	font-size: 1.75em;
	font-weight: 900;
	background-color: rgb(227, 164,0);
	cursor: pointer;
}

.flex_texte p:last-of-type { width: 216px;}
.flex_don .bouton-jaune-upp {width: 100%;}

/* ***** formulaire ***** */
input,
textarea {
    width: 100%;
    border: none;
    font-size: 1em;
    padding: 10px;
    font-family: 'Source Sans Pro';
    background-color: #fdf4ed;
}

input {
    margin-bottom: 10px;
    height: 30px;
}

textarea {height: 180px;}


/* ***** partenaires ***** */
.part {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
}

.flex_part{
	margin-top: 20px;
	display: flex;
	width: 50%;
}

.div_part {
	flex-direction: row;
	position: relative;
}

.part_texte {margin-left: 15px;}
.lien {font-size: 0.7em;}

/* ******************************************************************** */
/* THE END ! */
/* ******************************************************************** */