/*
OYEZ OYEZ BRAVES GENS !
Quelques recommandations si vous ne voulez pas finir tout nu sur la place publique :

pour les titres principaux de la page : utiliser h2 et ajouter la class "titre_principal"
pour les titres secondaires de la page : utiliser h3 et ajouter la class "titre_secondaire"
pour le texte gris ajouter la class "texte_fonce"
pour le texte blanc ajouter la class "texte_clair"
pour le texte jaune ajouter la class "texte-jaune"

pour les boutons jaunes utiliser <p class="bouton-jaune">texte<a href=""></a></p>

pas de float ou de inline-bloc !
les marges et les paddings des blocs principaux doivent être de 50px (vertical ET horizontal)
les images doivent faire moins de 500Ko

A BON ENTENDEUR, SALUT !
*/

/* ******************************************************************** */
/* QUI SOMMES NOUS */
/* ******************************************************************** */

.cadre_jaune{
  background-color: #f3c062;
  width: 45%;
  height: 450px;
  margin-left: 5%;
}

.cadre_jaune span{
  text-transform: uppercase;
  font-weight: bold;
}

.texte_cadre_jaune{
  margin: 20px;
}

.presentation_bas{
  display: flex;
  flex-direction: row;
}

.presentation_droite{
  width: 50%;
  height: 450px;
}

.image_presentation{
  background-image: url(../images/presentation_equipe.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}


/* ******************************************************************** */
/* OBJECTIFS */
/* ******************************************************************** */

.cadre_jaune_objectif{
  margin-top: 30px;
}

.objectif_image_haut,
.objectif_image_bas {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 210px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.objectif_image_haut {
  background-image: url(../images/objectif_1.jpg);
}

.objectif_image_bas {
  background-image: url(../images/objectif_2.jpg);
}



/* ******************************************************************** */
/* ARCHIVES */
/* ******************************************************************** */
